/* Estilos generales */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilos del div blanco */
  
  .white-stripe {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 35%; /* Ancho completo en dispositivos móviles */
    height: 100%; /* Altura de 500px en PC */
    border-radius: 0px; /* Elimina los bordes redondeados en dispositivos móviles */
  }
  
  /* Estilos de la imagen */
  .white-stripe img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #003366;
    box-shadow: 0 0 10px rgba(0, 51, 102, 0.5);

    /* Posicionamiento */
    margin-bottom: 20px;
}
Con este cambio, el contenido dentro de .white-stripe se alineará en la parte superior del contenedor. Ajusta otros valores según sea necesario para lograr el diseño deseado.

  /* Estilos de los botones */
  
  .buttons {
    position: absolute; /* Los botones se colocan en una posición absoluta */
    bottom: 0; /* Los botones se colocan en la parte inferior de la página */
    width: 30%; /* Los botones ocupan todo el ancho de la página */
    padding: 20px;
    text-align: center;
    z-index: 0; /* Los botones se colocan debajo de la franja blanca */
  }
  
  .btn {
    font-family: "Amiri Quran Colored", sans-serif;
    background-color: #003366;
    color: #fff;
    width: 80%;
    padding: 5px 40px;
    text-decoration: none;
    margin: 20px 0;
    text-align: center;
    position:relative;
  }
  
  .btn:hover {
    background-color: #235a96;
  }
  