body {
    background-color: #003366; /* Fondo azul */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.white-stripe {
    background-color: white; /* Fondo blanco */
    width: 500px; /* Ancho de la franja vertical */
    height: 700px; /* Altura de la franja vertical (ajustar según tus necesidades) */
    display: flex;
    flex-direction: column; /* Orientación vertical */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    padding: 20px; /* Espacio interno de la franja blanca */
    text-align: center;
    border-radius: 0px; /* Bordes redondeados para la franja */
    background-image: url('\src\app\media\Simbolo_u.png');/* Imagen de fondo */
    background-size: 170%; /* Ajusta el tamaño de la imagen de fondo al 50% de la franja */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center top; /* Alinea la imagen al centro arriba */
}
.container{
    background-color: white;
    width: 540px;
    
    

}
.buttons {
    display: flex;
    flex-direction: column; /* Cambia la orientación a vertical */
    align-items: center; /* Centra los botones horizontalmente */
}

.btn {
    font-family: "Amiri Quran Colored", sans-serif;
    /* Agrega otros estilos de fuente según sea necesario */
    background-color: #003366; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    width: 200px; /* Ancho fijo para todos los botones */
    padding: 12px 40px; /* Espacio dentro del botón */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    margin: 20px 0; /* Espacio entre los botones verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
    position:relative;
}

.btn:hover {
    background-color: #235a96; /* Cambio de color de fondo al pasar el mouse */
}

/*btn-1*/
.btn-1{
    background-color: #003366;
    color: #fff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #003366;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
  /*btn-2*/
.btn-2{
    background-color: #003366;
    color: #fff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-2::after, .btn-2::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #003366;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

/*btn-3*/
.btn-3{
    background-color: #003366;
    color: #fff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-3::after, .btn-3::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #003366;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

/*btn-4*/
.btn-4{
    background-color: #003366;
    color: #fff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-4::after, .btn-4::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #003366;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

/*btn-5*/
.btn-5{
    background-color: #003366;
    color: #fff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-5::after, .btn-5::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #003366;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}