<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="portada.component.css">
</head>
<body>
  <div class="white-stripe img">
    <img src="Simbolo_u.png" alt="Logo">
    <div class="buttons">
      <button href="#" class="btn btn-1" (click)="redirigirCrearDocente()">Crear docente</button>
      <button href="#" class="btn btn-2" (click)="redirigirCrearAsignatura()">Crear asignatura</button>
      <button href="#" class="btn btn-3">Tablas de reportes</button>
      <button href="#" class="btn btn-4">Imprimir reporte</button>
      <button href="#" class="btn btn-5" (click)="redirigirAsignarAsignatura()">Asignar Asignatura</button>
    </div>
  </div>
</body>
</html>
