<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="asignar-asignatura.component.css">
</head>
<body>
    <div class="search-container">
        <div class="left-image"></div>
        <input type="text" class="search-input" placeholder="Buscar...">
        <div class="right-images">
            <div class="right-image " ></div>
            <div class="right-image "></div>
        </div>
        <button class="close-button" (click)="redirigirPortada()">Cerrar</button>
    </div>

    <div class="containerflex" >
        <h1 >Asignar asignatura</h1>
        <div class="nombre-item">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" class="nombre-input" placeholder="">
        </div>
        <div class="rut-item">
            <label class="label" for="rut">Rut:</label>
            <input type="text" id="rut1" class="rut-input-1" placeholder="">
        </div>
        
        <div class="año">
            <label for="tipo-año">Año:</label>
            <select id="tipo-año" class="año-input">
                <option value="primer-año">2023</option>
                <option value="segundo-año">2022</option>
                <option value="segundo-año">2021</option>
                <option value="segundo-año">2020</option>
                <option value="segundo-año">2019</option>
                <option value="segundo-año">2018</option>
            </select>
        </div>

        <div class="semestre">
            <label for="tipo-semestre">Semestre:</label>
            <select id="tipo-semestre" class="semestre-input">
                <option value="primer-semestre">Primer semestre</option>
                <option value="segundo-semestre">Segundo semestre</option>
            </select>
        </div>

        <div class="asignatura-item">
            <label for="asignatura">Asignatura:</label>
            <input type="text" id="asignatura" class="asignatura-input" placeholder="">
        </div>

        <div class="id-asignatura-item">
            <label for="id-asignatura"> Id de asignatura:</label>
            <input type="text" id="id-asignatura" class="id-asignatura-input" placeholder="">
        </div>
        
        <div class="cantidad-horas-item">
            <label for="cantidad-horas">Cantidad de horas:</label>
            <input type="text" id="cantidad-horas" class="cantidad-horas-input" placeholder="">
        </div>

        <div class="botones-container">
            <button class="boton">Confirmar</button>
        </div>
        
    </div>
    
</body>
</html>