<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="crear-asignatura.component.css">
</head>
<body>
    <div class="search-container">
        <div class="left-image"></div>
        <input type="text" class="search-input" placeholder="Buscar...">
        <div class="right-images">
            <div class="right-image notificacion"></div>
            <div class="right-image mensaje"></div>
        </div>
        <button class="close-button" (click)="redirigirPortada()">Cerrar</button>
    </div>


    <div class="info-container">
        <div class="asignatura-item">
            <label for="asignatura">Asignatura:</label>
            <input type="text" id="asignatura" class="asignatura-input" placeholder="">
        </div>
        <div class="id-asignatura-item">
            <label for="id_asignatura">Id de Asignatura:</label>
            <input type="text" id="id_asignatura" class="id-asignatura-input" placeholder="">
        </div>
        
        <div class="cantidad-creditos-item">
            <label for="cantidad-creditos">Cantidad de creditos:</label>
            <input type="text" id="creditos" class="cantidad-creditos" placeholder="">
        </div>
        
        <div class="horas-lectivas-item">
            <label for="horas-lectivas">Horas lectivas:</label>
            <input type="text" id="horas-lectivas" class="horas-lectivas" placeholder="">
        </div>

        <div class="botones-container">
            <button class="boton">Modificar asignatura</button>
            <button class="boton">Crear asignatura</button>
        </div>
    </div>
</body>
</html>
