body {
    font-family: sans-serif;
    margin: 1px;
    padding: 1px;
  }
  
  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    position: sticky;
    top: 4;
    margin-left: 0%;
  }
  
  .search-input {
    width: 79%;
    padding: 5px;
    font-size: 200%;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    margin-left: 1%;
  }
  
  .search-input:focus {
    border-color: #0056b3;
  }
  
  .left-image, .right-image {
    width: 40px;
    height: 40px;
    background-size: cover;
}

.left-image {
    background-image: url('/src/app/media/usuario.png'); 
    width: 60px; /* Aumenta el ancho de la imagen */
    height: 60px; /* Aumenta la altura de la imagen */
}

.right-image:nth-child(1) {
    background-image: url('/src/app/media/notificacion.png'); /* Ruta de la primera imagen */
    margin-right: 40px; /* Ajusta el margen derecho de la primera imagen */
}

.right-image:nth-child(2) {
    background-image: url('/src/app/media/mensaje.png'); /* Ruta de la segunda imagen */
      margin-right: 0px; /* Ajusta el margen derecho de la segunda imagen */
  }
  
  .right-images {
    display: flex;
    align-items: center;
  }
    .close-button {
      background-color: #DA4747;
      border: none;
      border-radius: 10%;
      width: 80px;
      height: 40px;
      font-size: 20px;
      cursor: pointer;
    }
    
    /* Estilos para el contenedor de información */
    .info-container {
      margin: 50px auto;
      width: 80%;
      height: auto;
      background-color: #f2f2f2;
      padding: 100px;
      border: 2px solid #ccc;
      border-radius: 15px;
    }
    
    /* Estilos para los campos de información */
    .asignatura-item,
    .id-asignatura-item,
    .cantidad-creditos-item,
    .horas-lectivas-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    
    .asignatura-item label,
    .id-asignatura-item label,
    .cantidad-creditos-item label,
    .horas-lectivas-item label {
      font-size: 16px;
      margin-bottom: 10px;
    }
    
    @media (max-width: 992px) {
      .asignatura-item,
      .id-asignatura-item,
      .cantidad-creditos-item,
      .horas-lectivas-item {
        width: 50%;
      }
    }
    
    @media (max-width: 768px) {
      .asignatura-item,
      .id-asignatura-item,
      .cantidad-creditos-item,
      .horas-lectivas-item
      .search-input {
        width: 100%;
        margin-top: 10px;
      }
  
      
    }
    