body {
    height: 100vh;
    font-family: sans-serif;
    margin: 1px;
    padding: 1px;
    background-color:#0056b3 ;
    
  }

/* Estilos para los campos de información */
.containerflex {
    margin: 50px auto;
    width: 80%;
    height: auto;
    background-color: #f2f2f2;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
  }
  
  
/* Estilos para los campos de información */
.nombre-item,
.rut-item,
.contrato-item,
.email-item,
.profesion-item,
.horascontratado-item {
  width: 80%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.nombre-input,
.rut-input-1,
.contrato-input,
.email-input,
.profesion-input,
.horascontratado-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .nombre-item,
  .rut-item,
  .contrato-item,
  .email-item,
  .profesion-item,
  .horascontratado-item {
    display: block;
  }
}

.botones-container {
    text-align: center; /* Centra los botones horizontalmente dentro del contenedor */
    margin-top: 20px; /* Agrega margen superior para separarlos del contenido anterior */
}

/* Estilos para los botones */
.boton {
    background-color: #D9D9D9; /* Color de fondo original */
    color: #000000; /* Color del texto original */
    padding: 1% 2%; /* Tamaño del botón */
    border: none;
    border-radius: 5px;
    margin: 5px; /* Espacio entre los botones */
    cursor: pointer;
    margin-top: 5%; /* Espacio entre la parte superior y los botones */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave para el cambio de color de fondo y del texto */
}

/* Estilos para los botones cuando el mouse está sobre ellos */
.boton:hover {
    background-color: #003366; /* Nuevo color de fondo al pasar el mouse por encima */
    color: #ffffff; /* Nuevo color del texto al pasar el mouse por encima */
}

.h1{
    position: center ;
}
 .has{
position: relative;
 }