.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    position: sticky; /* Fija la barra de búsqueda en su posición */
    top: 0; /* La fija en la parte superior de la ventana */
}

.search-input {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 1000px;
    outline: none;
}

.search-input:focus {
    border-color: #0056b3;
}

.left-image, .right-image {
    width: 40px;
    height: 40px;
    background-size: cover;
}

.left-image {
    background-image: url('src/app/media/usuario.png'); 
    width: 60px; /* Aumenta el ancho de la imagen */
    height: 60px; /* Aumenta la altura de la imagen */
}

.right-image:nth-child(1) {
    background-image: url('src/app/media/notificacion.png'); /* Ruta de la primera imagen */
    margin-right: 40px; /* Ajusta el margen derecho de la primera imagen */
}

.right-image:nth-child(2) {
    background-image: url('src/app/media/mensaje.png'); /* Ruta de la segunda imagen */
    margin-right: 0px; /* Ajusta el margen derecho de la segunda imagen */
}

.right-images {
    display: flex;
    align-items: center;
}

.close-button {
    background-color: #DA4747; /* Cambia el color del botón de cerrar a rojo */
    border: none;
    border-radius: 10%;
    width: 80px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para los campos de información */
.info-container {
    margin: 10px 300px auto; /* Margen izquierdo de 20px, otros márgenes sin cambios */
    width: 80%; /* Ancho de 800px */
    height: 40%; /* Alto de 500px */
    background-color: #f2f2f2;
    padding: 30px 40px; /* Relleno superior de 30px y relleno derecho e izquierdo de 40px */
    border: 2px solid #ccc; /* Borde de 2px sólido */
    border-radius: 15px; /* Radio del borde de 15px */
}


/* Estilos para el campo Nombre */
.nombre-input {
    width: 450px;
    padding: 5px;
    margin-bottom: 10px; /* Añade margen inferior para reducir el espacio vertical */
    margin-left: 57px;
    
}

/* Estilos para los campos de Rut */
.rut-input-1 {
    width: 200px; /* Ancho personalizado para cada parte del Rut */
    padding: 5px; /* Altura personalizada */
    margin-bottom: 0px;
    margin-left: 87px;
}

.rut-input-2 {
    width: 10px; /* Ancho personalizado para cada parte del Rut */
    padding: 5px; /* Altura personalizada */
    margin-left: 4.5px;
}

/* Agrega margen al contenedor del menú desplegable */
.contrato-item {
    margin: 10px 0; /* Ajusta el valor del margen según tus necesidades */
}

/* Estilos para el menú desplegable */
.contrato-input {
    width: 250px;
    padding: 5px;
    /* Otros estilos para el menú desplegable */
}

.email-input {
    width: 237px; /* Ancho personalizado */
    padding: 5px; /* Altura personalizada */
    margin-left: 70px;
}

.botones-container {
    text-align: center; /* Centra los botones horizontalmente dentro del contenedor */
    margin-top: 20px; /* Agrega margen superior para separarlos del contenido anterior */
}

/* Estilos para los botones */
.boton {
    background-color: #D9D9D9; /* Color de fondo original */
    color: #000000; /* Color del texto original */
    padding: 30px 47.5px; /* Tamaño del botón */
    border: none;
    border-radius: 5px;
    margin: 5px; /* Espacio entre los botones */
    cursor: pointer;
    margin-top: 100px; /* Espacio entre la parte superior y los botones */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave para el cambio de color de fondo y del texto */
}

/* Estilos para los botones cuando el mouse está sobre ellos */
.boton:hover {
    background-color: #003366; /* Nuevo color de fondo al pasar el mouse por encima */
    color: #ffffff; /* Nuevo color del texto al pasar el mouse por encima */
}
.containerflex{
    width: 100%;
    background-color: #ffffff;
}

