<!DOCTYPE html>
<html lang="en"  style="background-color: #003366;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=none, initial-scale=1.0">
    <title>Buscador con Imágenes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body  style="background-color: #003366; ">
  
    <app-barnav></app-barnav>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="containerflex" >
        <h1 >Crear docente</h1>

        <div class="rut-item">
            <label for="rut1" >Rut:</label>
            <input type="text" id="rut1" class="form-control" placeholder="123456789 (si es 'K' reemplazarlo por un cero )" required>
        </div>

        <div class="nombre-item">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" class="form-control" placeholder="Nombre y apellidos">
        </div>
        
        <div class="profesion-item">
            <label for="profesion">Profesion:</label>
            <input type="text" id="profesion" class="form-control" placeholder="Ejemplo: Ingeniero en Informatica">
        </div>
        
        <div class="contrato-item">
            <label for="tipo-contrato">Tipo de Contrato:</label>
            <select id="tipo-contrato" class="form-control" formControlName="tipocontrato">
                <option value="contrato">Contrato</option>
                <option value="horario">Horario</option>
            </select>
        </div>
        
        <div class="horascontratado-item">
            <label for="horascontratado">Horas contratado:</label>
            <input type="number" id="horascontratado" class="form-control" placeholder="Ejemplo: 900">
        </div>
        
        <div class="email-item">
            <label for="email">Email:</label>
            <input type="text" id="email" class="form-control" placeholder="Ejemplo: ejemplocorreo@alu.unach.cl">
        </div>


        <div class="botones-container">
            <button class="boton">Estado docente</button>
            <button class="boton">Modificar docente</button>
            <button class="boton" type="submit">Crear docente</button>
        </div>
    </div>
    </form>
</body>
</html>