<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador con Imágenes</title>
    <link rel="stylesheet" type="text/css" href="crear-docente.component.css">
</head>
<body>
    <div class="search-container">
        <div class="left-image"></div>
        <input type="text" class="search-input" placeholder="Buscar...">
        <div class="right-images">
            <div class="right-image notificacion"></div>
            <div class="right-image mensaje"></div>
        </div>
        <button class="close-button">Cerrar</button>
    </div>

    <div class="info-container">
        <div class="info-item">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" class="info-input" placeholder="Escribe tu nombre">
        </div>
        <div class="info-item">
            <label for="rut1">Rut:</label>
            <input type="text" id="rut1" class="info-input rut-input" placeholder="Rut (parte 1)">
            <input type="text" id="rut2" class="info-input rut-input" placeholder="Rut (parte 2)">
            <div class="info-contrato">Tipo de Contrato:</div>
            <input type="text" class="info-input" placeholder="Escribir tipo de contrato">
    
            <div class="info-email">Email:</div>
            <input type="text" class="info-input" placeholder="Escribir email">
        </div>
        </div>
</body>
</html>


