<!DOCTYPE html>
<html lang="en"  style="background-color: #003366;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=none, initial-scale=1.0">
    <title>Buscador con Imágenes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body  style="background-color: #003366;">
  
<app-barnav></app-barnav>

    <div class="container">
        
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Asignatura</th>
            <th>Créditos</th>
            <th>Cantidad de alumnos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asignatura of asignatura">
            <td>{{ asignatura.id_asignatura}}</td>
            <td>{{ asignatura.nombre }}</td>
            <td>{{ asignatura.creditos }}</td>
            <td>{{ asignatura.horas_lectivas }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>
