<!DOCTYPE html>
<html lang="en"  style="background-color: #003366;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=none, initial-scale=1.0">
    <title>Buscador con Imágenes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body  style="background-color: #003366;">
  
<app-barnav></app-barnav>

    <div class="container">
        
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Asignatura</th>
            <th>Profesor</th>
            <th>Cantidad de alumnos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>MAT-101</td>
            <td>Calculo</td>
            <td>Felipe Araya</td>
            <td>40</td>
          </tr>
          <tr>
            <td>FIS-102</td>
            <td>Ingenieria web</td>
            <td>Pablo Calderon</td>
            <td>40</td>
          </tr>
          <tr>
            <td>QUI-103</td>
            <td>Química</td>
            <td>Benito Calo</td>
            <td>40</td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>
