<!DOCTYPE html>
<html lang="en"  style="background-color: #003366;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=none, initial-scale=1.0">
    <title>Buscador con Imágenes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body  style="background-color: #003366;">
  
<app-barnav></app-barnav>


    <div class="botones-container">
      <button class="boton">Modificar asignatura</button>
      <button class="boton">Crear asignatura</button>
      <input type="submit" value="Enviar" class="btn btn-info">
    </div>
</body>
</html>
