<!DOCTYPE html>
<html lang="en"  style="background-color: #003366;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=none, initial-scale=1.0">
    <title>Buscador con Imágenes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar " style="background-color: #003366;">
    <div class="container-fluid" style="background-color:  white">
      
      <ul class="nav navbar-nav" >
        <li><a (click)="redirigirPortada()"> Inicio</a></li>
        <li><a (click)="redirigirCrearDocente()"> Crear Docente</a></li>
        <li><a (click)="redirigirCrearAsignatura()"> Crear Asignatura</a></li>
        <li><a (click)="redirigirAsignarAsignatura()">Asignar asignatura</a></li>
        <li><a (click)="redirigirListarAsignatura()">Listar Asignatura</a></li>
      </ul>
      
    </div>
  </nav>
</body>