<!DOCTYPE html>
<html lang="en"  style="background-color: #003366;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=none, initial-scale=1.0">
    <title>Buscador con Imágenes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body  style="background-color: #003366;">
  
<app-barnav></app-barnav>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="info-container">
        
      <h1 >Crear asignatura</h1>
        <div class="mb-3">
            <label class="form-label">Seccion/codigo:</label>
            <input type="text"  class="form-control" formControlName="id_asignatura" >
        </div>

        <div class="mb-3">
            <label class="form-label">Asignatura:</label>
            <input type="text"  class="form-control" formControlName="nombre" >
        </div>
        
        <div class="mb-3">
            <label class="form-label">Cantidad de creditos:</label>
            <input type="number"  class="form-control" formControlName="creditos" >
        </div>
        
        <div class="mb-3">
            <label class="form-label">Horas lectivas:</label>
            <input type="number"  class="form-control" formControlName="horas_lectivas" >
        </div>
        
        <div class="mb-3">
          <label class="form-label">Cantidad de alumnos:</label>
          <input type="number"  class="form-control" formControlName="horas_lectivas" >
      </div>

        <div class="botones-container">
            <button class="boton">Modificar asignatura</button>
            <button class="boton">Crear asignatura</button>
            <input type="submit" value="Enviar" class="btn btn-info">
          </div>
        </div> 
        <div class="botones-container">
            <input >

        </div>       
</form>
</body>
</html>