/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos de la barra de búsqueda */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    /* Ajusta el orden de los elementos */
    flex-direction: row;
}

/* Estilos de la barra de búsqueda */
.search-input {
    padding: 1px; /* Ajusta el tamaño del padding según sea necesario */
    font-size: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 80%;
    width: 70%; /* Barra de búsqueda ocupa el 100% del ancho */
    outline: none;
}


.search-input:focus {
    border-color: #0056b3;
}

.left-image, .right-image {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
}

.left-image {
    background-image: url('/assets/media/usuario.png');
}

.right-image:nth-child(1) {
    background-image: url('/assets/media/notificacion.png');
    margin-right: 20px;
}

.right-image:nth-child(2) {
    background-image: url('/assets/media/mensaje.png');
    margin-right: 0px;
}

.right-images {
    display: flex;
    align-items: center;
}

.close-button {
    background-color: #DA4747;
    border: none;
    border-radius: 10%;
    width: 80px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para los campos de información */
.info-container {
    margin: 50px auto;
    width: 80%;
    height: auto;
    background-color: #f2f2f2;
    padding: 100px;
    border: 2px solid #ccc;
    border-radius: 15px;
}

.asignatura-input,
.id-asignatura-input,
.cantidad-creditos,
.horas-lectivas {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
}

/* Estilos para el menú desplegable */
.cantidad-creditos,
.horas-lectivas {
    margin-left: 0; /* Ajusta el margen izquierdo */
}

/* Estilos para los botones */
.botones-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.boton {
    background-color: #D9D9D9;
    color: #000000;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 10px;
}

/* Estilos para los botones cuando el mouse está sobre ellos */
.boton:hover {
    background-color: #003366;
    color: #ffffff;
}
