body {
  font-family: sans-serif;
  margin: 1px;
  padding: 1px;
  height: 100%;
  }

  /* Estilos para el contenedor de información */
.info-container {
  margin: 50px auto;
  width: 80%;
  height: auto;
  background-color: #f2f2f2;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
  }

/* Estilos para los campos de información */
.asignatura-item,
.codigo-item,
.creditos-item,
.horas-item {
  width: 80%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}


@media (max-width: 768px) {
  .asignatura-item,
  .codigo-item,
  .creditos-item,
  .horas-item {
    display: block;
  }
}

.botones-container {
  text-align: center; /* Centra los botones horizontalmente dentro del contenedor */
  margin-top: 20px; /* Agrega margen superior para separarlos del contenido anterior */
}

/* Estilos para los botones */
.boton {
  background-color: #D9D9D9; /* Color de fondo original */
  color: #000000; /* Color del texto original */
  padding: 1% 2%; /* Tamaño del botón */
  border: none;
  border-radius: 5px;
  margin: 20px; /* Espacio entre los botones */
  cursor: pointer;
  margin-top: 5%; /* Espacio entre la parte superior y los botones */
  transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave para el cambio de color de fondo y del texto */
}

/* Estilos para los botones cuando el mouse está sobre ellos */
.boton:hover {
  background-color: #003366; /* Nuevo color de fondo al pasar el mouse por encima */
  color: #ffffff; /* Nuevo color del texto al pasar el mouse por encima */
}
