<!DOCTYPE html>
<html lang="en"  style="background-color: #003366;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=none, initial-scale=1.0">
    <title>Buscador con Imágenes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body  style="background-color: #003366;">
  
    <app-barnav></app-barnav>
<div>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="info-container">
            
    
            <div class="codigo-item">
                <label for="codigo">Codigo/seción:</label>
                <input type="text" id="codigo" class="form-control" placeholder="">
            </div>
    
            <div class="asignatura-item">
                <label class="form-label">Asignatura:</label>
                <input type="text" id="asignatura" class="form-control" placeholder="">
            </div>
            
            <div class="creditos-item">
                <label class="form-label">Cantidad de creditos:</label>
                <input type="text" id="creditos" class="form-control" placeholder="">
            </div>
            
            <div class="horas-item">
                <label class="form-label">Horas lectivas:</label>
                <input type="text" id="horas-input" class="form-control" placeholder="">
            </div>
            <div class="botones-container">
                <button class="boton">Modificar asignatura</button>
                <button class="boton" type="submit">Crear asignatura</button>
              </div>
           
            </div> 
    </form> 
</div>


  
</body>
</html>
