/* src/styles.css */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


/* Ajusta los colores según sea necesario */
.mat-primary, .mat-accent {
  background-color:#003366;
  color: rgb(255, 255, 255);}







/* You can add global styles to this file, and also import other style files */
body{
    background-color: #003366;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
